.notifications .notif-dropdown-link {
  border-top: 1px solid rgba(163,163,163,0.5);
  text-align: center;
}

.chats .notif-dropdown-link {
  border-top: 1px solid rgba(163,163,163,0.5);
  text-align: center;
}

#notif-list, #chat-list {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

#notif-list {
  padding: 0;
  margin-top: 10px;
}

#notif-list>li {
  padding: 0px 0px 10px 10px;
  font-size: 12px;
}

#notif-list>li>a {
  color: #333;
}

#notif-list>li .notif-img{
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

#header #notif-list li .mark-read {
  color: #777;
}

#header #notif-list li .mark-read:after {
  font-family: "FontAwesome";
  content: "\f10c";
  padding: 4px 1rem;
  position: relative;
  top: 0px;
}

#header #notif-list li .mark-read:hover:after {
  content: "\f111";
}